@{ Layout = "_layoutLanding";
    ViewBag.Title = "Charte"; }
<div class="row">
    <div class="col-md-10 offset-md-1 bordureAucune">
    </div>
</div>
<div class="row">
    <div class="col-md-10 offset-md-1 bordureAucune">
    </div>
</div>
<div class="row">
    <div class="col-md-10 offset-md-1 bordureAucune">
    </div>
</div>
<div class="row">
    <div class="col-md-3 offset-md-4 bordureAucune">
        <h2 class="titre" style="color: #1f5c587c; "> Charte</h2>
        <p class="contenu">
            A définir
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-10 offset-md-1 bordureAucune">
    </div>
</div>
<div class="row">
    <div class="col-md-10 offset-md-1 bordureAucune">
    </div>
</div>