@{ Layout = "_layoutLanding";
    ViewBag.Title = "Contact"; }
<h3 class="titre">Contact</h3>
<p class="contenu">
    La société SoliDev, SARL fondée en juillet 2022, est une start-up spécialisée dans le domaine du numérique, et plus précisément dans le développement d’application web.
    La société ne dispose pas de locaux fixe, ses différents membres étant répartis dans des zones géographiques différentes, et travaillant ensemble via des outils collaboratifs tels que Zoom et GitHub.
    La société SoliDev est le fruit de 4 concepteurs développeurs d’applications juniors, tous issus de la promotion CDA18 de l’école ISIKA:
    Tasnim GHARBI
    Christophe RAVELONARY
    Adrien DELEUIL
    Maxime DAUBERMANN
</p>