@{ Layout = "_layoutLanding";
    ViewBag.Title = "Copro"; }
<h3 class="titre">Copro</h3>
<p class="contenu">
    Fiche d’identification de la copropriété « Les Jardins de la mer » :
    Adresse de référence :
    56 Rue des Voiliers, 34280 La Grande-Motte
    Représentants :
    •	Syndic Im-Motte (syndic professionnel)
    •	Membres du conseil syndical : 5 copropriétaires élus pour une durée de 3 ans, et résidents de l’immeuble depuis au moins 8 ans.
    Réunions et assemblées :
    Le syndic et le conseil syndical se réunissent au cours des 10 premiers jours de tous les mois impairs, et l’assemblée générale se tient au cours de la première quinzaine de Juin selon l’heure et le lieu indiqués dans la convocation.
    Toutefois, le syndic peut convoquer une assemblée générale ordinaire à tout moment lorsqu’une décision doit être prise d’urgence dans l’intérêt de la copropriété.
    Date du règlement de la copropriété : 03/11/1975
    Lots d’habitation : 110
    Part de résidents propriétaires de la copropriété : 45% (le reste étant des locataires)
</p>