@{ Layout = "_layoutLanding";
    ViewBag.Title = "Copro"; }
<div class="row">
    <div class="col-md-10 offset-md-1 bordureAucune">
    </div>
</div>
<div class="row">
    <div class="col-md-10 offset-md-1 bordureAucune">
    </div>
</div>
<div class="row">
    <div class="col-md-10 offset-md-1 bordureAucune">
    </div>
</div>
<div class="row">
    <div class="col-md-8 offset-md-2 bordureAucune">
        <h2 class="titre" style="color: #1f5c587c; ">La copropriété « Les Jardins de la mer » </h2>
    </div>
</div>
<div class="row">
    <div class="col-md-10 offset-md-1 bordureAucune">
    </div>
</div>
<div class="row">
    <div class="col-md-10 offset-md-1 bordureAucune">
    </div>
</div>
<div class="row" style="font-size:18px ;">
    <div class="col-md-12 offset-md-0 ">
        <p class="contenu" style="color: #092638;">
            <ul>
                <li>
                    <strong style="color: #327672;">Adresse de référence :</strong> 56 Rue des Voiliers, 34280 La Grande-Motte.
                </li>
                <li>
                    <strong style="color: #327672;"> Syndic :</strong> Im-Motte (syndic professionnel).
                </li>
                <li>
                    <strong style="color: #327672;">Membres du conseil syndical :</strong>  5 copropriétaires élus pour une durée de 3 ans, et résidents de l’immeuble depuis au moins 8 ans.
                </li>
                <li>
                    <strong style="color: #327672;">Réunions et assemblées :</strong>  Le syndic et le conseil syndical se réunissent au cours des 10 premiers jours de tous les mois impairs, et l’assemblée générale se tient au cours de la première quinzaine de Juin selon l’heure et le lieu indiqués dans la convocation.
                    Toutefois, le syndic peut convoquer une assemblée générale ordinaire à tout moment lorsqu’une décision doit être prise d’urgence dans l’intérêt de la copropriété.
                </li>
                <li>
                    <strong style="color: #327672;">Date du règlement de la copropriété :</strong>  03/11/1975
                </li>
                <li>
                    <strong style="color: #327672;">Lots d’habitation :</strong>  110
                </li>
                <li>
                    <strong style="color: #327672;">Part de résidents propriétaires de la copropriété :</strong>  45% (le reste étant des locataires)
                </li>
            </ul>
        </p>
    </div>
</div>