@{ Layout = "_layoutLanding";
    ViewBag.Title = "Fonctionnement"; }
<div class="row">
    <div class="col-md-10 offset-md-1 bordureAucune">
    </div>
</div>
<div class="row">
    <div class="col-md-10 offset-md-1 bordureAucune">
    </div>
</div>
<div class="row">
    <div class="col-md-10 offset-md-1 bordureAucune">
    </div>
</div>
<div class="row">
    <div class="col-md-9 offset-md-3 bordureAucune">
        <h2 class="titre" style="color: #1f5c587c; ">Comment ça marche ?</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-10 offset-md-1 bordureAucune">
    </div>
</div>
<div class="row">
    <div class="col-md-10 offset-md-1 bordureAucune">
    </div>
</div>
<div class="row" style="font-size:18px ;">
    <div class="col-md-12 offset-md-0 ">
        <p class="contenu" style="color: #092638
;">
            Le système est basé sur <strong style="color: #08609A
;">l’entraide et la solidarité, l’entraide et l’échange,</strong>  il n’y a pas de contrepartie financière.<br>
            Cependant pour que le système soit équilibré et que tout le monde propose des services en plus d’en demander, nous avons mis en place un système de <strong style="color: #08609A
;">monnaie</strong>  virtuelle, <strong style="color: #08609A
;">les “Bisous”</strong>.<br>
            Chaque habitant démarre avec un solde prédéfini de bisous. Pour chaque service rendu, on en gagne et pour chaque service demandé on en perd.
        </p>
    </div>
</div>