@{ Layout = "_layoutLanding";
    ViewBag.Title = "Fonctionnement"; }
<h3 class="titre">Comment ça marche?</h3>
<p class="contenu">
    Le système est basé sur l’entraide et la solidarité, l’entraide et l’échange, il n’y a pas de contrepartie financière.
    Cependant pour que le système soit équilibré et que tout le monde propose des services en plus d’en demander,
    nous avons mis en place un système de monnaie virtuelle, les “Bisous”. Chaque habitant démarre avec un solde prédéfini de bisous.
    Pour chaque service rendu, on en gagne et pour chaque service demandé on en perd.
</p>