@{ Layout = "_layoutLanding";
    ViewBag.Title = "MdpOublie"; }
<p class="contenu ">

    <div class="row" align="center">
        <div class="col-md-8 bordureAucune">
            <div class="row">
                <div class="col-md-10 offset-md-1 bordureAucune">
                    <h2 class="titre" style="color: #1f5c587c; "> Formulaire pour récupérer le mot de passe</h2>
                    <div class="row">
                        <div class="col-md-6 bordureAucune">
                        </div>
                    </div>

                   </div>
                </div>
            </div>
    </div>