@model ProjetQarma.ViewModels.QarmaViewModels
@{ Layout = "_layoutLanding";
    ViewBag.Title = "Qarma"; }
<h3 class="titre">Qarma qu'est ce que c'est?</h3>
<p class="contenu">
    Le Qarma est un ensemble de badges que l’utilisateur a obtenu en fonction de son niveau d’investissement sur
    la plateforme. Les points de Qarma ne sont pas transférables et le solde ne peut être négatif.
</p>