                    /* ****************COULEURS************** */
.couleur_bleueQarma{
	color : #327672;
}

.couleur_verte{
	color : #9AE17B ;
}
.couleur_bleueSoliDev{
	color : #3498DB;
}
                    /* ********* Barre de navigation ********** */
.navbar {
    background:#a8d1c886;
}
.nav-link,
.navbar-brand {
    color: rgba(140, 215, 175, 0.964);
    cursor: pointer;
}
.nav-link {
    margin-right: 1em !important;
}
.nav-link:hover {
    color: #000;
}
.navbar-collapse {
    justify-content: flex-end;
}
.containerHeader{ border: 1px solid;padding: 1px; width: 100%; border-color: transparent; background-color:transparent;}
                     /* ******************  LOGO ***************** */
            /*  ***** Description****** */
.caractereDescription{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
            /* ******** Identification********* */
/* form remplissage */
.form-control{
    border-color: #9AE17B;
    border-width: 2px;
    font-size: 2rem;
    height: 10px;
    width: fit-content;
    font-style: italic;
    font-size: medium;
    text-decoration-color: #327672;
}
/* Couleur Transparente */
.couleur_bleueQarma_form{
	color : #327672a5;
}
/* bouton se connecter */
.btn-primary{
    background-color: #9AE17B;
    border-color: #9AE17B;
    font-size: 1rem;
    margin-top: 6px;
}
/* **** HEADER **** */
.bordureBleue1{  border: 3px solid #3276726a; background-color: #3276726a; padding :10px;  }
.bordureBleue2{  border: 3px solid #327672; background-color: #327672; padding: 10px; }

/* ****BODY **** */

.containerBody{ border: 1px solid;padding: 20px; width: 100%; border-color: transparent;}
.bordureBleue1{  border: 3px solid #3276726a; background-color: #3276726a; padding :10px;  }
.bordureBleue2{  border: 3px solid #327672; background-color: #327672; padding: 10px; }
.bordureAucune{  border: 3px ; background-color:transparent; padding: 10px; }


body {
    padding: 0;
    margin: 0;
    background: #ebf6e9;
}
        /* ******* La partie à gauche ******* */
.header {
    background-size: cover;
    background-position: center;
    position: relative;
}


.overlay {
    position: absolute;
    min-height: 10%;
    min-width: 500%;
    left: 0;
    top: 0;
    background: rgba(23, 112, 122, 0.329);
}
.description {
    left: 50%;
    position: absolute;
    top: 45%;
    transform: translate(-50%, -55%);
    text-align: center;
}
.description h1 {
    color: #6AB446;
}
.description p {
    color: #fff;
    font-size: 1.3rem;
    line-height: 1.5;
}
.description button {
    border:1px solid #6AB446;
    background:#6ab446;
    border-radius: 0;
    color:#fff;
}
.description button:hover {
    border:1px solid #fff;
    background:#fff;
    color:#000;
}

/* *****FOOTER****** */
.containerFooter{ border: 1px solid;padding: 20px; width: 100%; border-color: transparent; background-color: #97afbf67;}



