@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1> Le changement de rôle a bien été effectué </h1>
<p><a href="~/Administration/userPage"> Cliquez ici pour revenir à la page précédente</a></p>

