@{
    Layout = "_layoutAdmin";
    ViewBag.Title = "Index";
}
<div class="row align-items-center justify-content-between">

    <div class="col-md 7" style="color: #1f5c587c; ">
        <div class="row">
            <div class="col-md-10 offset-md-1 bordureAucune">
                <h4>
                    Votre interface administrateur
                </h4>
                <p class="lead" style="color: #1f5c587c; ">
                    Vous avez la possibilité de gérer les activités de la plateforme.
                </p>
                <p>
                    Modifiez les rôles des utilisateurs, écrivez  de nouvelles actualités ou créez un compte pour les nouveaux membres.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md 4" style="color: #1f5c587c; ">
        <img src="/images/people.png" class="img-fluid" alt="" style="color: #1f5c587c; border-radius:8px; ">
    </div>
</div>


