@model ProjetQarma.Models.Utilisateur;

@using (Html.BeginForm())
{
    <div>
        @Html.LabelFor(m => m.Mail)
        @Html.TextBoxFor(m => m.Mail)
        @Html.ValidationMessageFor(m => m.Mail)
    </div>
    <button class="btn btn-primary btn-xl" type="submit" href="~/Login/ForgotPassword">Proposer</button>
}
