@model ProjetQarma.ViewModels.UtilisateurViewModel
@{ Layout = "_layoutReseauSocial";
    ViewBag.Title = "Index"; }


<div class="offres">

    <h4> Présentation de l'appartement</h4>
    <br>Dans l'appartement 37B, nous sommes 4.
    <br>Lisa, moi et nos 2 enfants Oscar et Faustine.
    <br>Lisa est institutrice et je suis cascadeur.



   
    <br>
    <br>
    <br>

</div>


