@{ Layout = "_layoutAccueil";
    ViewBag.Title = "Charte"; }
<div class="col-md-11 offset-md-1 bordureBleue3 couleur_bleueQarma" style="border-radius: 8px;">
    <div class="couleur_bleueQarma">
        <div class="row">
            <div class="col-md-10 offset-md-1 bordureAucune">
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 offset-md-1 bordureAucune">
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 offset-md-1 bordureAucune">
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 offset-md-4 bordureAucune">
                <h2 class="titre" style="color: #1f5c587c; "> Charte</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 offset-md-4 bordureAucune">

            </div>
        </div>
        <div class="row">
            <div class="col-md-3 offset-md-6 bordureAucune">

            </div>
        </div>
        <div class="row" style="font-size:18px ;">
            <div class="col-md-10 offset-md-1 bordureAucune">
                <p class="contenu">
                    Le règlement de copropriété est la charte commune aux copropriétaires, qui s'impose à eux obligatoirement.
                    Aucun propriétaire ou locataire ne peut se soustraire à son application. En rejoignant l'ensemble, chaque copropriétaire s'engage à respecter les clauses du règlement.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 offset-md-3 bordureAucune">
                <button class="btn btn-secondary  me-md-8" type="submit" style=" width: 60%;" onclick="location.href='/documents/reglement-de-copropriete.pdf';">Télécharger le régelement de la copropriété  "Les Jardins de la Mer"</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 offset-md-1 bordureAucune">
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 offset-md-1 bordureAucune">
            </div>
        </div>
    </div>
</div>
