@{ Layout = "_layoutAccueil";
    ViewBag.Title = "FAQ"; }
<div class="col-md-11 offset-md-1 bordureBleue3" style="border-radius: 8px;">
    <div class="row">
        <div class="col-md-10 offset-md-1 bordureAucune">
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 offset-md-1 bordureAucune">
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 offset-md-1 bordureAucune">
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 offset-md-4 bordureAucune">
            <h2 class="titre" style="color: #1f5c587c; ">
                FAQ
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 offset-md-1 bordureAucune">
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 offset-md-1 bordureAucune">
        </div>
    </div>
</div>