@model ProjetQarma.ViewModels.PropositionViewModel


@{ Layout = "_layoutDetail";
    ViewBag.Title = "PropositionDetail"; }

<h3 class="titre">Proposition Detail</h3>

<div class="row">
    <div class="col-md-10 offset-md-1 bordureAucune">
    </div>
</div>
   
<div class="row">
    <div class="col-md-10 offset-md-1 bordureBleue1">
        Budget : @Model.Proposition.MontantBisous

        <div class="row">
            <div class="col-md-10 offset-md-1 bordureAucune">
            </div>
        </div>



        Catégorie :  @Model.Proposition.TypeService

        Détail : @Model.Proposition.Description

</div>
    </div>

