@model ProjetQarma.ViewModels.PropositionViewModel


@{ Layout = "_layoutDetail";
    ViewBag.Title = "PropositionDetail"; }

<h3 class="titre">Proposition Detail</h3>

<p>
    J'affiche le detail du service...
    Montant:
    @Model.Proposition.MontantBisous

    Dés qu'on arrive à afficher les fonctions voulues dans les pages qu'on veut
</p>
