@model ProjetQarma.ViewModels.ServiceViewModels


@{ Layout = "_layoutDetail";
    ViewBag.Title = "UtilisateurNonConnecte"; }
<div class="row" align="center">
    <div class="col-md-10 offset-md-1 bordureAucune">
        <h3 class="titre">
            @Model.Utilisateur.InfosPersos.Nom
                @Model.Utilisateur.InfosPersos.Prenom
            </h3>
    </div>
</div>






