/*un commentaire en CSS*/
#body{
	position:relative;
}
#headerdiv div {
	display : inline-block;
	padding:0px 10px;/*Marge verticale*/

}
#logo{
	float : left;
	margin: 10px 60px 0px 0px;

}
#description{
	float : center;
	margin: 2px 0px 5px 5px;
	margin-right: 50px;

}
#login{
	float : right;
	margin: 10px 0px 0px 0px;;
}

#cadre1{
	float : center;
	margin: 50px 160px 0px 0px;;
}
.background{
	background-color: #E3E3E3;
}
.couleur_bleueQarma{
	color : #327672;
}
.couleur_verte{
	color : #9AE17B ;
}
.couleur_bleueSoliDev{
	color : #3498DB;
}
.button_vert{
	background-color: #9AE17B; /* Green */
	border : none;
	border-radius: 12px;
	color: white;
	padding: 10px 30px 5px 15px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin-bottom : 5px;
	width: 60%;
      }
 .button_vertPetit{
	background-color: #9AE17B; /* Green */
	border : none;
	border-radius: 12px;
	color: white;
	padding: 10px 30px 5px 15px;
	text-align: right;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin-bottom : 5px;
	width: 40%;
	/*display : block;
	margin-left : auto;*/
      }
.button_bleu{
	background-color: #327672; /* blue */
	border : none;
	border-radius: 12px;
	color: white;
	padding: 10px 30px 5px 15px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	width: 60%;
      }
.button_bleuPetit{
	background-color: #327672; /* blue */
	border : none;
	border-radius: 12px;
	color: white;
	padding: 10px 30px 5px 15px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin-bottom : 5px;
	width: 53%;
      }
	  
.encadrer-un-contenu{
	border: 3px solid #327672;
	padding: 10px 10px 5px 20px; 
	border-radius: 6px;
	font-size: 30px;
	margin-right: 350px;
}
#contact{
	margin-top : 60px;
}
.espace_haut{
	margin-top : 10px;
}
footer{
	position:absolute;
	bottom:0;  /* on le colle en bas */
	width:90%;
	height:150px;   /* Hauteur du pied de page */
	text-align :right;
	padding:1px 5px 2px 2px; 
	margin-left : 100px;
}
aside {
	float : left;
	width : 30%; 
}

aside > h3 {
	margin : .5rem;

h3{
	font-family: 'Fira Sans', sans-serif;
}


